{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "parser": "@babel/eslint-parser",
  "plugins": ["react", "import"],
  "rules": {
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "no-console": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".jsx", ".js", ".json"]
      }
    }
  }
}
